<div class="start">
  Colleges in North India
</div>
<div class="container" *ngIf="colleges">
  <div class="card"  *ngFor="let college of colleges">
    <div class="first-div">
      <div class="promoted-div">
      </div>
      <div class="promoted-text" *ngIf="college.promoted">
        PROMOTED
      </div>
      <div class="promoted-text" *ngIf="!college.promoted">
        NON PROMOTED
      </div>
      <div class="rating">
        <div>
          <span class="span-rating-one">
            {{college.rating}}
          </span>
         <span class="span-rating-two">
          /5
         </span>
        </div>
        <div class="comment">
          {{college.rating_remarks}}
        </div>
      </div>
  
      <div class="lower-text">
        <div class="best-colleges">
         {{college.tags[0]}}
        </div>
        <div class="distance">
          {{college.tags[1]}}
        </div>
        <div class="location">
          #{{college.ranking}}
        </div>
      </div>
    </div>
    <div class="second-div">
      <div class="first-row-details">
        <div class="title-of-college">
         {{college.college_name}}
        </div>  
        <div>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="un-star"></i>
        </div>
        <div class="rates">
          <div class="rate-break">
            ₹{{college.original_fees}}
          </div>
        </div>
        <div class="pentagon">
        </div>
        <div class="circle-text">
          <div class="circle">
  
          </div>
          <span class="text">
            {{college.discount}}%
          </span>
        </div>
      </div>
  
      <div class="second-row-details">
        <div class="first-left-half">
          <div>
            <span class="deep">
             {{college.nearest_place[0]}}
            </span> 
            <span class="shallow">
              {{college.nearest_place[1]}}
            </span>
           </div>
           <div class="text-light">
             <span class="text-green"> 93% Match : </span> {{college.famous_nearest_places}}
           </div>
        </div>
        <div class="first-right-half">
          <div>
            <span class="text-red">
              ₹ {{college.discounted_fees}}
            </span> 
           </div>
           <div class="text-light">
            {{college.fees_cycle}}
           </div>
        </div>
        
      </div>
     
      <div class="third-row-details">
        <div class="first-left-half">
          <div class="padding background-green text-dark">
            
              Flat Rs <span class="text-green">2,000</span>off + upto Rs <span class="text-green">500 </span>wallet! to avail... <span class="text-blue">LOGIN</span>
            
           </div>
        </div>
        <div class="first-right-half">
          <div class="text-green">
            <span>
             {{college.amenties[0]}}
            </span> 
            <span class="font-size-25">
              .
            </span>
            <span>
              {{college.amenties[1]}}
             </span> 
           </div>
          
        </div>
        
      </div>
    </div>
  </div>  
</div>
